@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@500&display=swap");

.wrapper-articles {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 58px;
}

.section-heading {
  width: 461px;
  height: 84px;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 56px;
  color: #0e2368;
  margin-left: 108px;
  margin-top: 158px;
  margin-bottom: 41px;
}
